* {
    box-sizing: border-box;
}

:root {
    --Primary-color: #143c3c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.header__top--fixed,
.header {
    font-family: "Public Sans", sans-serif;
}

.header__top--fixed {
    background: #fff;
    position: sticky;
    top: -18px;
    z-index: 1;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 173px;
    border-radius: 40px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 57px;
    color: #fff;
    background: var(--Primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header-top {
    display: flex;
    align-items: center;
    padding: 28px 0 14px;
    border-bottom: 1px solid #dddcdc;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    margin-right: 88px;
}

.navbar__link {
    padding: 4px 19px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    color: #575d5e;
}

.navbar__link:hover,
.navbar__link--active {
    color: var(--Primary-color);
}

.navbar__link--active::before {
    position: relative;
    bottom: -37px;
    left: 22px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: var(--Primary-color);
    flex-shrink: 0;
}

/* Hero */

.hero {
    display: flex;
    margin-top: 60px;
    /* align-items: center;
    flex-wrap: wrap; */
    justify-content: space-between;
}

.hero__content {
    width: 35%;
    flex-shrink: 0;
}

.hero__heading {
    margin-top: 43px;
    color: #152427;
    width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    display: flex;
    margin-top: 42px;
    align-items: center;
}

.hero__play-btn {
    display: flex;
    margin-left: 37px;
    align-items: center;
    border: none;
    background: #fff;
}

/* .hero__play-half-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 57px;
    height: 59px;
    transition: 0.3s;
} */

.hero__play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #fff;
    background: #83a17d;
    border-radius: 50%;
}

.hero__play-btn span {
    margin-left: 15px;
    display: block;
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    position: relative;
}

.hero__images {
    width: 646px;
    height: 543px;
    margin-right: 25px;
    display: flex;
    gap: 20px;
}

/* small detail */
.hero__media svg {
    position: absolute;
}

.hero__media svg:first-of-type {
    top: -32px;
    left: -211px;
}

.hero__media svg:nth-of-type(2) {
    top: -33px;
    left: -165px;
}

.hero__media svg:nth-of-type(3) {
    bottom: -47px;
    right: 30px;
}

.hero__media svg:last-of-type {
    top: 247px;
    left: 40px;
    transform: rotate(175.95deg);
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}
